---
---

@import '../_sass/_fonts';

$comic-book-font: "Comic Book", 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$gold: #fbbd08 !important;

body {
  background: black;
}

path#burst {
  transform-origin: center;
}

#navigation {
  right: -15em;

  a.item {
    background: rgba(255, 255, 255, 0.9) !important;
    font-family: $comic-book-font;
    left: 0;

    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;

    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  a.item:active, a.item.active {
    background: $gold;
    color: white !important;
  }
  a.item:hover {
    background: $gold;
    color: black !important;
    left: -4em;
  }
  a.item:visited {
    background: rgba(200,200,200,0.9);
  }
}

#page-grid {
  height: 100%;
  margin: 0;
  #footer, #why {
    background-image: url(/assets/images/city.png);
    background-position: 0 0;
  }
  #header, #header .grid {
    padding: 0 !important;
  }
  #header {
    max-height: 65%;
    svg {
      height: 100%;
      margin-bottom: -10%;
      padding: 0;
      width: 100%;
    }
  }
  #who {
    background-image: url('/assets/images/sunburst.png');
    padding-bottom: 2em;
    .team-photo {
      -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

      height: 4em;
    }
  }
  > .row {
    padding: 0;
  }
  .row {
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    .comic-book-font {
      font-family: $comic-book-font;
    }
    .panel-heading {
      font-size: 4em;
      font-style: italic;
      font-family: $comic-book-font;

      -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
      clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    }
    .segment {
      -webkit-background-size: contain;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .ui.grid {
      margin: auto !important;
      padding: 5em 0;
      width: 100%;
    }
  }
  .shadowless,
  .shadowless > .row > .column,
  .shadowless > .row {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .ui.secondary.item.menu .item:last-child {
    margin-right: 0.25em;
  }
}

/** Comic Book Classes: */
.comic-book {
  .panel-down {
    -webkit-clip-path: polygon(1% 1%, 99% 5%, 99% 99%, 1% 95%);
    clip-path: polygon(1% 1%, 99% 5%, 99% 99%, 1% 95%);
  }
  .panel-left {
    -webkit-clip-path: polygon(1% 1%, 95% 1%, 99% 99%, 5% 99%);
    clip-path: polygon(1% 1%, 95% 1%, 99% 99%, 5% 99%);
  }
  .panel-right {
    -webkit-clip-path: polygon(7% 1%, 100% 1%, 94% 99%, 1% 99%);
    clip-path: polygon(7% 1%, 100% 1%, 94% 99%, 1% 99%);
  }
  .panel-up {
    -webkit-clip-path: polygon(1% 5%, 99% 1%, 99% 95%, 1% 99%);
    clip-path: polygon(1% 5%, 99% 1%, 99% 95%, 1% 99%);
  }
}

.dots {
  background: url(/assets/images/dots.png);
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.calm {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;

  transition-timing-function: ease;
}

.larger {
  font-size: larger;
}

.nervous:hover {
  opacity: 0.9;
  transform: rotateY(10deg);
}

.reluctant:hover {
  opacity: 0.9;
  transform: scale(0.9);
}

/** Scrollbar Styling: */
::-webkit-scrollbar-button {
}

::-webkit-scrollbar-corner {
  background-color: black;
}

::-webkit-scrollbar {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border: 1px solid #333;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.75);
}
