---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  background: gold;
}

#page-grid {
  height: 133.333%;
  margin: 0;
  .row {
    padding: 0 2.5em;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-corner {
  background-color: black;
}

::-webkit-scrollbar {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border: 1px solid #333;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.75);
}
