---
---

body {
  background: gold;
}

#page-grid {
  height: 100%;
  margin: 0;
  #header, #header .grid, #header img {
    padding: 0 !important;
  }
  #why {
    background-image: url(/assets/images/city.png);
    background-position: 0 0;
  }
  .dots {
    background: url(/assets/images/dots.png);
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .panel-heading {
    color: darkred;
    font-size: 5em;
    font-family: "Bangers";
    -webkit-text-stroke: 1px white;
  }
  .row {
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    .segment {
      -webkit-background-size: contain;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .ui.grid {
      margin: auto !important;
    }
  }
  .shadowless,
  .shadowless > .row > .column,
  .shadowless > .row {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.larger {
  font-size: larger;
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-corner {
  background-color: black;
}

::-webkit-scrollbar {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border: 1px solid #333;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.75);
}
