.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
  -webkit-transition-duration: 1s !important;
  -moz-transition-duration: 1s !important;
  -ms-transition-duration: 1s !important;
  -o-transition-duration: 1s !important;
  transition-duration: 1s !important;
  
  -webkit-transition-timing-function: ease !important;
  -moz-transition-timing-function: ease !important;
  -ms-transition-timing-function: ease !important;
  -o-transition-timing-function: ease !important;
  transition-timing-function: ease !important;
}

.pace .pace-progress {
  margin: auto !important;
  position: fixed;
  z-index: 2000;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 15rem !important;
  width: 100% !important;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  content: attr(data-progress-text);
  font-family: "Bangers", "Lato", "Helvetica Neue", sans-serif !important;
  font-weight: 100;
  font-size: 12rem !important;
  line-height: 6rem !important;
  text-align: center !important;
  color: rgba(255, 167, 0, 0.9) !important;
}
