<footer id="footer" class="ui row">
    <div class="ui huge inverted black three item secondary stackable menu">
        <a class="item" href="http://bit.ly/hackSite" target="_blank">
            <div class="ui massive animated fade inverted yellow button">
                <div class="visible content">Register on EventBrite!</div>
                <div class="hidden content">
                    Become a Hero!
                </div>
            </div>
        </a>
        <a class="ui blue item" href="https://www.facebook.com/abilitieshackathon" target="_blank">
            <i class="facebook icon"></i>
            facebook
        </a>
        <a class="ui blue item" href="https://twitter.com/abilitieshack" target="_blank">
            <i class="twitter icon"></i>
            twitter
        </a>
    </div>
</footer>
