<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="/css/semantic-ui-css/dist/semantic.css">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <link rel="shortcut icon" type="image/png" href="/assets/images/logo.png?v1" sizes="16x16 32x32 64x64">

    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/iscroll-probe.js"></script>
    <script src="/js/scroll-magic.js"></script>

    <script src="/css/semantic-ui-css/dist/semantic.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
</head>
