<section id="why" class="panel-right ui black row">
    <div class="ui centered two column stackable grid">
        <h1 id="why-heading"
            class="panel-heading ui centered massive top attached header">
            Developers Assemble!
        </h1>
        <div class="dots" style="opacity: 0.1;"></div>
        <div class="row">
            <div class="ui black center aligned massive message six wide computer column">

                <img alt="Digital Harbor Foundation logo"
                     class="ui avatar image" src="/assets/images/icon_dh.png"
                     title="Digital Harbor Foundation logo">

                <div class="content">
                    <div class="ui inverted large header">
                        <a class="larger ui link" href="http://www.digitalharbor.org/">
                            Digital Harbor Foundation
                        </a>
                        <div class="ui sub header">presents...</div>
                    </div>
                    <p>
                        the <strong>Abilities Hackathon</strong>,
                        a collaborative effort to engage the tech community in human-centered design
                        practices for individuals with needs related to their impacted abilities.
                    </p>
                </div>
                <br>

                <a class="ui massive animated fade inverted yellow button"
                   href="https://www.eventbrite.com/e/abilities-hackathon-tickets-22285583781" target="_blank">
                    <div class="visible content">Register on EventBrite!</div>
                    <div class="hidden content">
                        Become a Hero!
                    </div>
                </a>

            </div>
            <div class="ui center aligned two statistics five wide computer six wide tablet column inverted black segment
            animated vertical list">
                <br>

                <div class="ui inverted blue statistic item">
                    <h2 class="comic-book-font value">
                        April 22 - 24, 2016
                    </h2>
                    <h4 class="label">
                        Weekend Hackathon
                    </h4>
                </div>

                <div class="ui inverted yellow statistic item">
                    <h2 class="comic-book-font value">
                        May 25, 2016
                    </h2>
                    <h4 class="label">
                        Winner Showcase
                    </h4>
                </div>

                <div class="ui inverted green statistic item">
                    <h2 class="comic-book-font value">
                        <i class="money icon"></i>
                        $15,000
                    </h2>
                    <h4 class="label">
                        in cash and prizes
                    </h4>
                </div>

                <br>
            </div>
        </div>
    </div>
</section>
