<nav id="navigation" class="ui basic compact segment sticky fixed">
    <div class="ui large secondary vertical menu">
        <a id="navigation-why" class="yellow item" href="#why">
            join
        </a>

        <a id="navigation-what" class="yellow item" href="#what">
            tracks
        </a>

        <a id="navigation-sponsors" class="yellow item" href="#sponsors">
            sponsors
        </a>

        <a id="navigation-who" class="yellow item" href="#who">
            team
        </a>
    </div>
</nav>
