<nav id="navigation" class="ui basic compact segment sticky fixed">
    <div class="ui large secondary vertical menu">
        <a id="navigation-why" class="yellow item" href="#why">
            why join?
        </a>

        <a id="navigation-what" class="yellow item" href="#what">
            about abilities hack
        </a>

        <a id="navigation-sponsors" class="yellow item" href="#sponsors">
            our sponsors
        </a>

        <a id="navigation-who" class="yellow item" href="#who">
            our team
        </a>
    </div>
</nav>
