<nav id="navigation" class="ui basic compact segment sticky fixed">
    <div class="ui large secondary vertical menu">
        <a id="navigation-news"
           class="yellow item"
           onclick="goTo('#news')">
            news
        </a>

        <a id="navigation-why"
           class="yellow item"
           onclick="goTo('#why')">
            join
        </a>

        <a id="navigation-what"
           class="yellow item"
           onclick="goTo('#what')">
            tracks
        </a>

        <a id="navigation-sponsors"
           class="yellow item"
           onclick="goTo('#sponsors')">
            sponsors
        </a>

        <a id="navigation-who" class="yellow item"
           onclick="goTo('#who')">
            team
        </a>
    </div>
</nav>
