<section id="news" class="panel-left ui grey row">
    <div class="ui centered two column stackable grid">
        <h1 id="news-heading"
            class="panel-heading ui centered massive top attached header">
            Breaking News!
        </h1>
        <div class="dots" style="opacity: 0.1;"></div>
        <div class="row">
            <div class="extra-extra ui center aligned massive message six wide computer column">
                <div class="content">
                    <a class="ui link" href="http://technical.ly/baltimore/2016/03/29/abilities-hackathon/">
                        <div class="ui dividing large header">
                            <div class="content">
                                Why everyone should be interested in this accessibility hackathon
                                <div class="ui inverted black label sub header">
                                    Mar. 29, 2016 12:17 PM
                                </div>
                            </div>
                        </div>

                        <img alt="Why everyone should be interested in this accessibility hackathon"
                             class="ui image" src="/assets/images/news_article_1.jpg"
                             title="Why everyone should be interested in this accessibility hackathon">
                    </a>
                </div>
            </div>

            <div class="extra-extra ui center aligned massive message six wide computer column">
                <div class="content">
                    <a class="ui link"
                       href="http://technical.ly/baltimore/2016/04/26/5-accessibility-projects-abilities-hackathon/">
                        <div class="ui dividing large header">
                            <div class="content">
                                5 hackathon projects aimed at accessibility
                                <div class="ui inverted black label sub header">
                                    Apr. 26, 2016 9:57 AM
                                </div>
                            </div>
                        </div>

                        <img alt="5 hackathon projects aimed at accessibility"
                             class="ui image" src="/assets/images/news_article_2.jpg"
                             title="5 hackathon projects aimed at accessibility">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
