<section id="sponsors" class="panel-right ui yellow row">
    <div id="sponsors-heading"
         class="ui centered two column stackable grid">
        <h1 class="panel-heading ui centered massive top attached header">
            Our Sponsors
        </h1>
        <div class="dots"></div>
        <div class="row">

            <div class="ui animated divided selection list">

                <a class="item" href="http://moit.baltimorecity.gov/">
                    <h1 class="ui massive header">
                        Brought to you by the
                        <img class="calm reluctant ui large image" src="/assets/images/logo_moit.png" data-pin-nopin="true">
                    </h1>
                </a>

                <div class="gold item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="http://www.kennedykrieger.org/">
                            <img class="calm reluctant ui big image" src="/assets/images/logo_kki.png" data-pin-nopin="true">
                        </a>
                    </div>
                </div>

                <div class="silver item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="https://betamore.com/">
                            <img class="calm reluctant ui medium image" src="/assets/images/logo_betamore.png">
                        </a><
                    </div>
                </div>

                <div class="bronze item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="http://www.dirdim.com/">
                            <img class="calm reluctant ui small image" src="/assets/images/logo_ddi.png" data-pin-nopin="true">
                        </a>
                    </div>

                    <div class="ui horizontal selection list">
                        <a class="item" href="http://baltimoreangels.com/">
                            <img class="calm reluctant ui small image" src="/assets/images/logo_baltimore_angels.png">
                        </a><
                    </div>
                </div>

                <a class="item" href="http://www.digitalharbor.org/">
                    <h1 class="ui massive header">
                        Hosted by the
                        <img class="calm reluctant ui massive image" src="/assets/images/logo_dh.png">
                    </h1>
                </a>

            </div>

        </div>
    </div>
</section>
