<section id="sponsors" class="panel-right ui yellow row">
    <div id="sponsors-heading"
         class="ui centered two column stackable grid">
        <h1 class="panel-heading ui centered massive top attached header">
            Our Sponsors
        </h1>
        <div class="dots"></div>
        <div class="row">

            <div class="ui animated divided selection list">

                <div class="ui huge header">
                    Brought to you by 
                    <!-- <a class="item" href="http://moit.baltimorecity.gov/">
                        <img alt="Mayor's Office of Information Technology City of Baltimore logo"
                             class="calm reluctant ui centered large image"
                             data-pin-nopin="true"
                             src="/assets/images/logo_moit.png"
                             title="Mayor's Office of Information Technology City of Baltimore logo">
                    </a> -->
                    <a class="item" href="http://www.kennedykrieger.org/">
                            <img alt="Kennedy Krieger Institute logo"
                                 class="calm reluctant ui centered large image"
                                 data-pin-nopin="true"
                                 src="/assets/images/logo_kki.png"
                                 title="Kennedy Krieger Institute logo">
                        </a>
                </div>

                <div class="silver item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="http://www.solarsystemsbaltimore.com/">
                            <img alt="21st Century"
                                 class="calm reluctant ui medium image"
                                 src="/assets/images/21stCentury.png"
                                 title="21st Century">
                        </a><
                    </div>
                </div>

                <div class="silver item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="http://harbordesigns.net/">
                            <img alt="Harbor Design"
                                 class="calm reluctant ui medium image"
                                 src="/assets/images/harborDesign.jpg"
                                 title="Harbor Design">
                        </a><
                    </div>
                </div>
                <div class="silver item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="http://www.smartlogic.com/">
                            <img alt="Smartlogic logo"
                                 class="calm reluctant ui medium image"
                                 src="/assets/images/smartlogic-logo-teal-500.png"
                                 title="Smartlogic">
                        </a><
                    </div>
                </div>
                <div class="silver item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="https://betamore.com/">
                            <img alt="Betamore logo"
                                 class="calm reluctant ui medium image"
                                 src="/assets/images/logo_betamore.png"
                                 title="Betamore logo">
                        </a><
                    </div>
                </div>
                <div class="silver item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="https://www.alterurban.com/">
                            <img alt="Alter Urban logo"
                                 class="calm reluctant ui medium image"
                                 src="/assets/images/alterUrban.png"
                                 title="Alter Urban">
                        </a><
                    </div>
                </div>
                <div class="silver item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="https://www.codeforbaltimore.org/">
                            <img alt="Code for Bmore logo"
                                 class="calm reluctant ui medium image"
                                 src="/assets/images/codeForBmore.png"
                                 title="Code for Bmore">
                        </a><
                    </div>
                </div>

                <div class="bronze item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="http://www.dirdim.com/">
                            <img alt="Direct Dimensions logo"
                                 class="calm reluctant ui small image"
                                 data-pin-nopin="true"
                                 src="/assets/images/logo_ddi.png"
                                 title="Direct Dimensions logo">
                        </a>
                    </div>

                    <div class="ui horizontal selection list">
                        <a class="item" href="http://baltimoreangels.com/">
                            <img alt="Baltimore Angels logo"
                                 class="calm reluctant ui small image"
                                 src="/assets/images/logo_baltimore_angels.png"
                                 title="Baltimore Angels logo">
                        </a>
                    </div>
                    <div class="ui horizontal selection list">
                        <a class="item" href="http://ChallengeRocket.com/">
                            <img alt="Challenge Rocket logo"
                                 class="calm reluctant ui small image"
                                 src="/assets/images/challengeRocket.png"
                                 title="Challenge Rocket logo">
                        </a>
                    </div>
                </div>


                <div class="ui huge header">
                    Hosted by the
                    <a class="item" href="http://www.digitalharbor.org/">
                        <img alt="Digital Harbor Foundation logo"
                             class="calm reluctant ui massive image"
                             src="/assets/images/logo_dh.png"
                             title="Digital Harbor Foundation log">
                    </a>
                    And
                    <a class="item" href="http://www.aging2.com/">
                        <img alt="Aging2.0 Baltimore logo"
                             class="calm reluctant ui massive image"
                             src="/assets/images/logo_aging2.png"
                             title="Aging2.0 Baltimore log">
                    </a>
                </div>


            </div>

        </div>
    </div>
</section>
