<section id="who" class="panel-left ui grey row">
    <div class="ui centered two column stackable grid">
        <h1 id="who-heading"
            class="panel-heading ui centered massive top attached header">
            Our Team
        </h1>
        <div class="row">
            <div class="ui horizontal inverted massive list segment">

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Ed Slattery
                            <div class="ui yellow sub header">
                                Organizer, Slattery Homes
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Jake Tunney
                            <div class="ui yellow sub header">
                                Organizer, I3 Healthcare and Aging2.0
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Shawn Grimes
                            <div class="ui yellow sub header">
                                Organizer, Digital Harbor Foundation
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Sam Frank
                            <div class="ui yellow sub header">
                                Organizer, Designer and Aging2.0
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Maren Rey
                            <div class="ui yellow sub header">
                                Organizer, Avila Homecare and Aging2.0
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            <!--<img class="team-photo ui icon" src="/assets/images/barbara_holt.png">-->
                            Alex Benfield
                            <div class="ui yellow sub header">
                                Designer, Johns Hopkins
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
