<section id="what" class="panel-left ui red row">
    <div class="ui centered stackable grid">
        <h1 id="what-heading"
            class="panel-heading ui centered massive top attached header row">
            Choose Your Mission
        </h1>
        <div class="dots"></div>
        <div class="ui shadowless stackable two column celled eleven wide computer thirteen wide tablet grid">
            <div class="row">
                <div class="calm reluctant ui basic fluid inverted segment column">
                    <h2 class="ui center aligned icon header">
                        <i class="shipping icon"></i>
                        <div class="content">
                            Aging Population
                        </div>
                    </h2>
                </div>
                <div class="calm reluctant ui basic fluid segment column">
                    <h2 class="ui center aligned icon header">
                        <i class="sound icon"></i>
                        <div class="content">
                            Wearables
                        </div>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="calm reluctant ui basic fluid segment column">
                    <h2 class="ui center aligned icon header">
                        <i class="soccer icon"></i>
                        <div class="content">
                            Leisure/Entertainment
                        </div>
                    </h2>
                </div>
                <div class="calm reluctant ui basic fluid inverted segment column">
                    <h2 class="ui center aligned icon header">
                        <i class="game icon"></i>
                        <div class="content">
                            Transportation/Mobility
                        </div>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
