<div id="what" class="ui red row">
    <div class="ui shadowless stackable two column celled grid">
        <h1 class="panel-heading ui centered inverted massive header row">
            Flavors of Accessibility
        </h1>
        <div class="row">
            <div class="ui basic fluid inverted segment column">
                <h2 class="ui center aligned icon header">
                    <i class="shipping icon"></i>
                    <div class="content">
                        Transportation/Mobility
                    </div>
                </h2>
            </div>
            <div class="ui basic fluid segment column">
                <h2 class="ui center aligned icon header">
                    <i class="sound icon"></i>
                    <div class="content">
                        Wearables
                    </div>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="ui basic fluid segment column">
                <h2 class="ui center aligned icon header">
                    <i class="soccer icon"></i>
                    <div class="content">
                        Leisure/Entertainment
                    </div>
                </h2>
            </div>
            <div class="ui basic fluid inverted segment column">
                <h2 class="ui center aligned icon header">
                    <i class="game icon"></i>
                    <div class="content">
                        Open Software/Hardware
                    </div>
                </h2>
            </div>
        </div>
    </div>
</div>
