<section id="sponsors" class="panel-down ui yellow row">
    <div class="ui centered two column stackable grid">
        <div class="panel-down dots"></div>
        <h1 class="panel-heading ui centered inverted massive header row">
            Our Sponsors
        </h1>
        <div class="row">

            <div class="ui animated divided selection list">

                <a class="item" href="http://moit.baltimorecity.gov/">
                    <h1 class="ui massive header">
                        Brought to you by
                        <img class="ui large image" src="/assets/images/logo_moit.png" data-pin-nopin="true">
                    </h1>
                </a>

                <div class="gold item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="http://www.kennedykrieger.org/">
                            <img class="ui big image" src="/assets/images/logo_kki.png" data-pin-nopin="true">
                        </a>
                    </div>
                </div>

                <div class="silver item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="https://betamore.com/">
                            <img class="ui medium image" src="/assets/images/logo_betamore.png">
                        </a><
                    </div>
                </div>

                <div class="bronze item">
                    <div class="ui horizontal selection list">
                        <a class="item" href="http://www.dirdim.com/">
                            <img class="ui small image" src="/assets/images/logo_ddi.png" data-pin-nopin="true">
                        </a>
                    </div>
                </div>

                <a class="item" href="http://www.digitalharbor.org/">
                    <h1 class="ui massive header">
                        Hosted by
                        <img class="ui massive image" src="/assets/images/logo_dh.png">
                    </h1>
                </a>

            </div>

        </div>
    </div>
</section>

<section id="who" class="panel-down ui grey row">
    <div class="ui centered two column stackable grid">
        <h1 class="panel-heading ui centered inverted massive header row">
            Our Team
        </h1>
        <div class="row">
            <div class="ui horizontal inverted massive list segment">

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Ed Slattery
                            <div class="ui red sub header">
                                Organizer, Slattery Homes
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Adam Bouhmad
                            <div class="ui red sub header">
                                Organizer, Digital Harbor Foundation
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Shawn Grimes
                            <div class="ui red sub header">
                                Organizer, Digital Harbor Foundation
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Melissa Huch
                            <div class="ui red sub header">
                                Organizer, Digital Harbor Foundation
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            Merlin Patterson
                            <div class="ui red sub header">
                                Organizer, ClassTracks
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui icon header">
                            <!--<img class="team-photo ui icon" src="/assets/images/barbara_holt.png">-->
                            Barbara Holt
                            <div class="ui red sub header">
                                Designer, Johns Hopkins
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
