<section id="why" class="panel-right ui black row">
    <div class="ui centered two column stackable grid">
        <div class="dots" style="opacity: 0.1;"></div>
        <h1 class="panel-heading ui centered inverted massive header row">
            Developers & Designers Assemble!
        </h1>
        <div class="row">
            <div class="ui black center aligned massive message six wide computer column">

                <img class="ui avatar image" src="/assets/images/icon_dh.png">

                <div class="content">
                    <div class="ui inverted large header">
                        <a class="larger ui link" href="http://www.digitalharbor.org/">
                            Digital Harbor Foundation
                        </a>
                        <div class="ui sub header">presents...</div>
                    </div>
                    <p>
                        the <strong>Abilities Hackathon</strong>,
                        a collaborative effort to engage the tech community in human-centered design
                        practices for individuals with needs related to their impacted abilities.
                    </p>
                </div>
                <br>

                <a class="ui massive animated fade inverted yellow button"
                   href="https://www.eventbrite.com/e/abilities-hackathon-tickets-22285583781" target="_blank">
                    <div class="visible content">Register on EventBrite!</div>
                    <div class="hidden content">
                        Become a Hero!
                    </div>
                </a>

                <h2>Location:
                    <a href="https://www.google.com/maps/place/Digital+Harbor+Foundation+Tech+Center/@39.2772708,-76.6143299,17z/data=!3m1!4b1!4m2!3m1!1s0x89c8036f549949f3:0xf952135bc4558612" target="_blank">
                        1045 Light St, Baltimore, MD 21230
                    </a>
                </h2>

            </div>
            <div class="ui center aligned two statistics five wide computer six wide tablet column inverted black segment
            animated vertical list">
                <br>

                <div class="ui inverted blue statistic item">
                    <div class="comic-book-font value">
                        April 22 - 24, 2016
                    </div>
                    <div class="label">
                        Weekend Hackathon
                    </div>
                </div>

                <div class="ui inverted yellow statistic item">
                    <div class="comic-book-font value">
                        May 25, 2016
                    </div>
                    <div class="label">
                        Winner Showcase
                    </div>
                </div>

                <div class="ui inverted green statistic item">
                    <div class="comic-book-font value">
                        <i class="money icon"></i>
                        $15,000
                    </div>
                    <div class="label">
                        in cash and prizes
                    </div>
                </div>

                <br>
            </div>
        </div>
    </div>
</section>
