<div id="why" class="ui black row">
    <div class="ui centered two column stackable grid">
        <h1 class="panel-heading ui centered inverted massive header row">
            Developers Assemble!
        </h1>
        <div class="row">
            <div class="ui center aligned two statistics five wide computer six wide tablet column inverted black segment">
                <br>
                <div class="ui inverted blue statistic">
                    <div class="value">
                        April 22 - 24, 2016
                    </div>
                    <div class="label">
                        Friday, Saturday, Sunday
                    </div>
                </div>
                <div class="ui inverted green statistic">
                    <div class="value">
                        <i class="money icon"></i>
                        $15,000
                    </div>
                    <div class="label">
                        in cash prizes
                    </div>
                </div>
                <div class="ui massive animated fade inverted yellow button">
                    <div class="visible content">Register on EventBrite!</div>
                    <div class="hidden content">
                        Become a Hero!
                    </div>
                </div>
            </div>
            <div class="ui black center aligned massive message six wide computer column">
                <i class="blue circular large anchor icon"></i>
                <div class="content">
                    <div class="ui inverted header">
                        <a class="larger ui link" href="http://www.digitalharbor.org/">
                            Digital Harbor
                        </a> presents...
                    </div>
                    the <strong>Abilities Hackathon</strong>,
                    a collaborative effort to engage the tech community in human-centered design
                    practices for individuals with needs related to their impacted abilities.
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
</div>
